
<mat-toolbar  style="background-color:#e3f2fd;">
    <a style="padding-left:200px;font-family: 'Lobster', cursive;font-size: 30px;">Komala Graphics</a>
    
    <span class="flex-spacer"></span>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/addItem" routerLinkActive="active">Items</a>
    <a mat-button routerLink="/member" routerLinkActive="active">Receipts</a>
    <button mat-button (click)="openModal()">Selected Items</button>
     <!-- <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span>Login</a>  -->
</mat-toolbar>
  