<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 50px;">
    <div >
        
        <mat-card style="border: 1px solid black;">
            <mat-card-header ><mat-card-title><h3><b>Add Items</b></h3></mat-card-title></mat-card-header>
            <mat-card-content>
                <div>
                    <label>Catogery</label>
                    <select [(ngModel)]="category" (change)="setBrand()">
                        <option *ngFor="let item of category1" [value]="item">{{item}}</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button mat-button data-toggle="modal" class="btn btn-primary" data-target="#catModal">Add Category</button>
                </div>
                <div>
                    <label>Brand</label>
                    <select [(ngModel)]="brand1">
                        <option *ngFor="let item of brand" [value]="item">{{item}}</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button mat-button data-toggle="modal"  class="btn btn-primary" data-target="#brandModal">Add Brand</button>
                </div>
                <div>
                    <input matInput type="text" placeholder="stock" name="stock" [(ngModel)]="stock" required>
                </div>
                
                <div>
                    <input matInput type="text" placeholder="price" name="price" [(ngModel)]="price" required>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn btn-primary" data-toggle="modal" data-target="#addModal" (click)="onSubmit()">Add</button>
            </mat-card-actions>
        </mat-card>
    
    </div>
    {{delcategory}}{{delbrand}}
    <div>
        <mat-card style="border: 1px solid black;">
            <mat-card-header ><mat-card-title><h3><b>Delete Items</b></h3></mat-card-title></mat-card-header>
            <mat-card-content>
                <div>
                    <label>Catogery</label>
                    <select [(ngModel)]="delcategory" (change)="setBrand1()">
                        <option *ngFor="let item of category1" [value]="item">{{item}}</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div>
                    <label>Brand</label>
                    <select [(ngModel)]="delbrand">
                        <option *ngFor="let item of brand" [value]="item">{{item}}</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn btn-primary" data-toggle="modal" data-target="#addModal1" (click)="onSubmit1()">Delete</button>
            </mat-card-actions>
        </mat-card>
    
    </div>
    <div id="catModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <input matInput type="text" placeholder="category" name="category" [(ngModel)]="newcategory">
                    </div>
                            <button mat-button class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button  mat-button class="btn btn-primary btn-sm ml-1" (click)="newCategory()" data-dismiss="modal">Add</button>        
                </div>
            </div>
        </div>
    </div>
    <div id="brandModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Brand</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <input matInput type="text" placeholder="brand" name="brand" [(ngModel)]="newbrand">
                    </div>
                            <button mat-button class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button  mat-button class="btn btn-primary btn-sm ml-1" (click)="newBrand()" data-dismiss="modal">Add</button>        
                </div>
            </div>
        </div>
    </div>
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Successfully Added!...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
            </div>
        </div>
    </div>
    <div id="addModal1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Successfully Deleted!...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
            </div>
        </div>
    </div>
    </body>
</html>